{% extends "base.html" %}
{% block title %}About Page{% endblock %}
{% block content %}


<div class="about-container">
    <h1>קצת עלינו</h1>

    <p>
        אנחנו שני וסתיו, יזמיות נלהבות עם חזון להקל ולייעל את תהליך הבחירה והעבודה מול ספקים עבור עסקים. מתוך הבנה של
        האתגרים היום-יומיים שמנהלים ועסקים נתקלים בהם, החלטנו להקים את האתר כדי להפוך את תהליך השוואת הספקים לפשוט, נגיש
        ואמין.
    </p>
    <p>
        המוטיבציה שלנו נולדה מתוך ניסיון אישי עם הקושי למצוא ספקים שמתאימים בדיוק לצרכים העסקיים – בין אם מדובר בציוד
        משרדי, שירותי טכנולוגיה, או לוגיסטיקה. רצינו ליצור פלטפורמה חכמה ונוחה שתעזור לחברות לחסוך זמן, להוזיל עלויות
        ולמצוא את השותפים העסקיים הטובים ביותר עבורן.
    </p>
    <p>
        <span>
            למה דווקא האתר שלנו?
        </span>
    <ul>
        <li>
            נגישות ופשטות: הכלים המתקדמים באתר מאפשרים לבצע השוואות תוך דקות.
        </li>
        <li>
            שקיפות מלאה: חוות דעת אמיתיות ופרטים ברורים על כל ספק.
        </li>
        <li>
            התאמה אישית: פתרונות שמתאימים לעסק שלכם בכל גודל או תחום.
        </li>
    </ul>
    </p>
    <p>
        נשמח לשמוע מכם ולעזור לעסק שלכם להצליח!
    </p>
</div>
{% endblock %}