{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}
{% block content %}


<div class="personal-area">
    <h1>אזור אישי</h1>
    <div class="info-container">
        <div class="info-item">
            <span class="label">שם מלא</span>
            <span class="value" id="profile_full_name"></span>
        </div>
        <div class="info-item">
            <span class="label">כתובת</span>
            <span class="value" id="profile_address"></span>
        </div>
        <div class="info-item">
            <span class="label">טלפון</span>
            <span class="value" id="profile_phone"></span>
        </div>
        <div class="info-item">
            <span class="label">תפקיד</span>
            <span class="value" id="profile_role"></span>
        </div>
        <div class="info-item">
            <span class="label">חברה</span>
            <span class="value" id="profile_company"></span>
        </div>
    </div>
</div>
<script>
    populateProfilePage()
</script>
{% endblock %}